version: "3.8"

services:
  # auth-database
  auth-database:
    image: mysql:8.0
    container_name: auth-database
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: auth_service
      TZ: "Asia/Ho_Chi_Minh"
    ports:
      - "3306:3306"
    volumes:
      - auth-data:/var/lib/mysql
      - ../../database/schemas/auth_service_db.sql:/docker-entrypoint-initdb.d/01-schema.sql
      - ../../database/seeds/seed_auth_db.sql:/docker-entrypoint-initdb.d/02-seed.sql
      - /usr/share/zoneinfo:/usr/share/zoneinfo:ro
    command: >
      mysqld
      --character-set-server=utf8mb4
      --collation-server=utf8mb4_unicode_ci
      --init-connect='SET NAMES utf8mb4;'
      --skip-character-set-client-handshake
      --default-time-zone='+07:00'
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      - kong-net

  # auth-service
  auth-service:
    build:
      context: ../../backend/auth-service
      dockerfile: Dockerfile
    image: auth-service:v1.0.0
    container_name: auth-service
    restart: always
    depends_on:
      auth-database:
        condition: service_healthy
    ports:
      - "8386:8386"
    environment:
      DATABASE_URL: "mysql://root:root@auth-database:3306/auth_service"
    env_file:
      - ../../backend/auth-service/.env
    networks:
      - kong-net

  # order database
  order-database:
    image: mysql:8.0
    container_name: order-database
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: order_service
      TZ: "Asia/Ho_Chi_Minh"
    ports:
      - "3307:3306"
    volumes:
      - order-data:/var/lib/mysql
      - ../../database/schemas/order_service_db.sql:/docker-entrypoint-initdb.d/01-schema.sql
      - ../../database/seeds/seed_order_db.sql:/docker-entrypoint-initdb.d/02-seed.sql
      - /usr/share/zoneinfo:/usr/share/zoneinfo:ro
    command: >
      mysqld
      --character-set-server=utf8mb4
      --collation-server=utf8mb4_unicode_ci
      --init-connect='SET NAMES utf8mb4;'
      --skip-character-set-client-handshake
      --default-time-zone='+07:00'
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      - kong-net
  
  # order service
  order-service:
    build:
      context: ../../backend/order-service
      dockerfile: Dockerfile
    image: order-service:v1.0.0
    container_name: order-service
    restart: always
    depends_on:
      order-database:
        condition: service_healthy
    ports:
      - "3000:3000"
    environment:
      DATABASE_URL: "mysql://root:root@order-database:3306/order_service"
    env_file:
      - ../../backend/order-service/.env
    networks:
      - kong-net

  # Kong gateway
  kong-database:
    image: postgres:9.6
    container_name: kong-database
    environment:
      POSTGRES_USER: kong
      POSTGRES_DB: kong
      POSTGRES_PASSWORD: kong
    volumes:
      - kong-data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U kong"]
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      - kong-net

  kong-migrations:
    image: kong:3.7
    container_name: kong-migrations
    command: kong migrations bootstrap
    depends_on:
      kong-database:
        condition: service_healthy
    environment:
      KONG_DATABASE: postgres
      KONG_PG_HOST: kong-database
      KONG_PG_USER: kong
      KONG_PG_PASSWORD: kong
      KONG_PG_DATABASE: kong
    networks:
      - kong-net

  kong:
    image: kong:3.7
    container_name: kong
    restart: always
    depends_on:
      kong-database:
        condition: service_healthy
    environment:
      KONG_DATABASE: postgres
      KONG_PG_HOST: kong-database
      KONG_PG_USER: kong
      KONG_PG_PASSWORD: kong
      KONG_PG_DATABASE: kong
      KONG_PROXY_ACCESS_LOG: /dev/stdout
      KONG_ADMIN_ACCESS_LOG: /dev/stdout
      KONG_PROXY_ERROR_LOG: /dev/stderr
      KONG_ADMIN_ERROR_LOG: /dev/stderr
      KONG_ADMIN_LISTEN: "0.0.0.0:8001"
    ports:
      - "8000:8000"
      - "8443:8443"
      - "8001:8001"
      - "8444:8444"
    healthcheck:
      test: ["CMD", "kong", "health"]
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      - kong-net

  # Rabbitmq
  rabbitmq:
    image: rabbitmq:3-management
    hostname: rabbitmq
    container_name: rabbitmq
    ports:
      - "5672:5672"
      - "15672:15672"
    volumes:
      - rabbitmq-data:/var/lib/rabbitmq
    environment:
      - RABBITMQ_DEFAULT_USER=guest
      - RABBITMQ_DEFAULT_PASS=guest
    healthcheck:
      test: ["CMD", "rabbitmq-diagnostics", "ping"]
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      - kong-net
    
  # rabbitmq-service
  rabbitmq-service:
    build:
      context: ../rabbitmq
      dockerfile: Dockerfile
    image: rabbitmq-service:v1.0.0
    container_name: rabbitmq-service
    restart: always
    depends_on:
      rabbitmq:
        condition: service_healthy
    environment:
      - EXCHANGE_NAME=tech_store_exchange
      - RABBITMQ_URL=amqp://guest:guest@rabbitmq:5672
    env_file:
      - ../rabbitmq/.env
    networks:
      - kong-net

  # product-database
  product-database:
    image: mysql:8.0
    container_name: product-database
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: product_service
      TZ: "Asia/Ho_Chi_Minh"
    ports:
      - "3308:3306"
    volumes:
      - product-data:/var/lib/mysql
      - ../../database/schemas/product_service_db.sql:/docker-entrypoint-initdb.d/01-schema.sql
      - ../../database/seeds/seed_product_db.sql:/docker-entrypoint-initdb.d/02-seed.sql
      - /usr/share/zoneinfo:/usr/share/zoneinfo:ro
    command: >
      mysqld
      --character-set-server=utf8mb4
      --collation-server=utf8mb4_unicode_ci
      --init-connect='SET NAMES utf8mb4;'
      --skip-character-set-client-handshake
      --default-time-zone='+07:00'
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      - kong-net

  # product-service
  product-service:
    build:
      context: ../../backend/product-service
      dockerfile: Dockerfile
    image: product-service:v1.0.0
    container_name: product-service
    depends_on:
      product-database:
        condition: service_healthy
    ports:
      - "8585:8585"
    environment:
      DATABASE_URL: "mysql://root:root@product-database:3306/product_service"
    env_file:
      - ../../backend/product-service/.env
    networks:
      - kong-net

  # cart-database
  cart-database:
    image: mysql:8.0
    container_name: cart-database
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: cart_service
      TZ: "Asia/Ho_Chi_Minh"
    ports:
      - "3309:3306"
    volumes:
      - cart-data:/var/lib/mysql
      - ../../database/schemas/cart_service_db.sql:/docker-entrypoint-initdb.d/01-schema.sql
      - ../../database/seeds/seed_cart_db.sql:/docker-entrypoint-initdb.d/02-seed.sql
      - /usr/share/zoneinfo:/usr/share/zoneinfo:ro
    command: >
      mysqld
      --character-set-server=utf8mb4
      --collation-server=utf8mb4_unicode_ci
      --init-connect='SET NAMES utf8mb4;'
      --skip-character-set-client-handshake
      --default-time-zone='+07:00'
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      - kong-net

  # cart-service
  cart-service:
    build:
      context: ../../backend/cart-service
      dockerfile: Dockerfile
    image: cart-service:v1.0.0
    container_name: cart-service
    depends_on:
      cart-database:
        condition: service_healthy
    ports:
      - "6000:6000"
    environment:
      DATABASE_URL: "mysql://root:root@cart-database:3306/cart_service"
    env_file:
      - ../../backend/cart-service/.env
    networks:
      - kong-net
  
  # Payment database
  payment-database:
    image: mysql:8.0
    container_name: payment-database
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: payment_service
      TZ: "Asia/Ho_Chi_Minh"
    ports:
      - "3305:3306"
    volumes:
      - payment-data:/var/lib/mysql
      - ../../database/schemas/payment_service_db.sql:/docker-entrypoint-initdb.d/01-schema.sql
      - /usr/share/zoneinfo:/usr/share/zoneinfo:ro
    command: >
      mysqld
      --character-set-server=utf8mb4
      --collation-server=utf8mb4_unicode_ci
      --init-connect='SET NAMES utf8mb4;'
      --skip-character-set-client-handshake
      --default-time-zone='+07:00'
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      - kong-net
      
  payment-service:
    build:
      context: ../../backend/payment-service
      dockerfile: Dockerfile
    image: payment-service:v1.0.0
    container_name: payment-service
    depends_on:
      payment-database:
        condition: service_healthy
    ports:
      - "4002:4002"
    environment:
      DATABASE_URL: "mysql://root:root@payment-database:3306/payment_service"
    env_file:
      - ../../backend/payment-service/.env
    networks:
      - kong-net

  # warranty service
  warranty-database:
    image: mysql:8.0
    container_name: warranty-database
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: warranty_service
      TZ: "Asia/Ho_Chi_Minh"
    ports:
      - "3304:3306"
    volumes:
      - warranty-data:/var/lib/mysql
      - ../../database/schemas/warranty_service_db.sql:/docker-entrypoint-initdb.d/01-schema.sql
      - /usr/share/zoneinfo:/usr/share/zoneinfo:ro
    command: >
      mysqld
      --character-set-server=utf8mb4
      --collation-server=utf8mb4_unicode_ci
      --init-connect='SET NAMES utf8mb4;'
      --skip-character-set-client-handshake
      --default-time-zone='+07:00'
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      - kong-net
      
  warranty-service:
    build:
      context: ../../backend/warranty-service
      dockerfile: Dockerfile
    image: warranty-service:v1.0.0
    container_name: warranty-service
    depends_on:
      warranty-database:
        condition: service_healthy
    ports:
      - "3006:3006"
    environment:
      DATABASE_URL: "mysql://root:root@warranty-database:3306/warranty_service"
    env_file:
      - ../../backend/warranty-service/.env
    networks:
      - kong-net

volumes:
  auth-data:
  kong-data:
  order-data:
  product-data:
  rabbitmq-data:
  cart-data:
  payment-data:
  warranty-data

networks:
  kong-net:
    driver: bridge