version: "3.8"

services:
  # auth-database
  auth-database:
    image: mysql:8.0
    container_name: auth-database
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: auth_service
    ports:
      - "3306:3306"
    volumes:
      - auth-data:/var/lib/mysql
      - ../../database/schemas/auth_service_db.sql:/docker-entrypoint-initdb.d/01-schema.sql
      - ../../database/seeds/seed_auth_db.sql:/docker-entrypoint-initdb.d/02-seed.sql
    command: >
      mysqld
      --character-set-server=utf8mb4
      --collation-server=utf8mb4_unicode_ci
      --init-connect='SET NAMES utf8mb4;'
      --skip-character-set-client-handshake
    networks:
      - kong-net

  # auth-service
  auth-service:
    build:
      context: ../../backend/auth-service
      dockerfile: Dockerfile
    image: auth-service:v1.0.0
    container_name: auth-service
    restart: always
    depends_on:
      - auth-database
    ports:
      - "8386:8386"
    environment:
      DATABASE_URL: "mysql://root:root@auth-database:3306/auth_service"
    env_file:
      - ../../backend/auth-service/.env
    networks:
      - kong-net

  # order database
  order-database:
    image: mysql:8.0
    container_name: order-database
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: order_service
    ports:
      - "3307:3306"
    volumes:
      - order-data:/var/lib/mysql
      - ../../database/schemas/order_service_db.sql:/docker-entrypoint-initdb.d/01-schema.sql
      - ../../database/seeds/seed_order_db.sql:/docker-entrypoint-initdb.d/02-seed.sql
    command: >
      mysqld
      --character-set-server=utf8mb4
      --collation-server=utf8mb4_unicode_ci
      --init-connect='SET NAMES utf8mb4;'
      --skip-character-set-client-handshake
    networks:
      - kong-net
  
  # order service
  order-service:
    build:
      context: ../../backend/order-service
      dockerfile: Dockerfile
    image: order-service:v1.0.0
    container_name: order-service
    restart: always
    depends_on:
      - order-database
    ports:
      - "3000:3000"
    environment:
      DATABASE_URL: "mysql://root:root@order-database:3306/order_service"
    env_file:
      - ../../backend/order-service/.env
    networks:
      - kong-net

  # Kong gateway
  kong-database:
    image: postgres:9.6
    container_name: kong-database
    environment:
      POSTGRES_USER: kong
      POSTGRES_DB: kong
      POSTGRES_PASSWORD: kong
    volumes:
      - kong-data:/var/lib/postgresql/data
    networks:
      - kong-net

  kong-migrations:
    image: kong:3.7
    container_name: kong-migrations
    command: kong migrations bootstrap
    depends_on:
      - kong-database
    environment:
      KONG_DATABASE: postgres
      KONG_PG_HOST: kong-database
      KONG_PG_USER: kong
      KONG_PG_PASSWORD: kong
      KONG_PG_DATABASE: kong
    networks:
      - kong-net

  kong:
    image: kong:3.7
    container_name: kong
    restart: always
    depends_on:
      - kong-database
    environment:
      KONG_DATABASE: postgres
      KONG_PG_HOST: kong-database
      KONG_PG_USER: kong
      KONG_PG_PASSWORD: kong
      KONG_PG_DATABASE: kong
      KONG_PROXY_ACCESS_LOG: /dev/stdout
      KONG_ADMIN_ACCESS_LOG: /dev/stdout
      KONG_PROXY_ERROR_LOG: /dev/stderr
      KONG_ADMIN_ERROR_LOG: /dev/stderr
      KONG_ADMIN_LISTEN: "0.0.0.0:8001"
    ports:
      - "8000:8000" # proxy
      - "8443:8443" # proxy SSL
      - "8001:8001" # admin API
      - "8444:8444" # admin SSL
    networks:
      - kong-net

  # Rabbitmq
  rabbitmq:
    image: rabbitmq:3-management
    hostname: rabbitmq
    container_name: rabbitmq
    ports:
      - "5672:5672"
      - "15672:15672"
    volumes:
      - rabbitmq-data:/var/lib/rabbitmq
    environment:
      - RABBITMQ_DEFAULT_USER=guest
      - RABBITMQ_DEFAULT_PASS=guest
    healthcheck:
      test: ["CMD", "rabbitmq-diagnostics", "ping"]
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      - kong-net
    
  # rabbitmq-service
  rabbitmq-service:
    build:
      context: ../rabbitmq
      dockerfile: Dockerfile
    image: rabbitmq-service:v1.0.0
    container_name: rabbitmq-service
    restart: always
    depends_on:
      - rabbitmq
    environment:
      - EXCHANGE_NAME=tech_store_exchange
      - RABBITMQ_URL=amqp://guest:guest@rabbitmq:5672
    env_file:
      - ../rabbitmq/.env
    networks:
      - kong-net

  # product-database
  product-database:
    image: mysql:8.0
    container_name: product-database
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: product_service
    ports:
      - "3308:3306"
    volumes:
      - product-data:/var/lib/mysql
      - ../../database/schemas/product_service_db.sql:/docker-entrypoint-initdb.d/01-schema.sql
      - ../../database/seeds/seed_product_db.sql:/docker-entrypoint-initdb.d/02-seed.sql
    command: >
      mysqld
      --character-set-server=utf8mb4
      --collation-server=utf8mb4_unicode_ci
      --init-connect='SET NAMES utf8mb4;'
      --skip-character-set-client-handshake
    networks:
      - kong-net

  # product-service
  product-service:
    build:
      context: ../../backend/product-service
      dockerfile: Dockerfile
    image: product-service:v1.0.0
    container_name: product-service
    depends_on:
      - product-database
    ports:
      - "8585:8585"
    environment:
      DATABASE_URL: "mysql://root:root@product-database:3306/product_service"
    env_file:
      - ../../backend/product-service/.env
    networks:
      - kong-net

volumes:
  auth-data:
  auth-service:
  kong-data:
  order-data:
  product-data:
  rabbitmq-data:

networks:
  kong-net:
    driver: bridge